.order-header {
  display: flex;
  align-items: flex-start;
}

.order-user {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: clamp(0rem, 1vw, 1rem);
  color: var(--color-label);
}

.order-avatar {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  object-fit: cover;
}

.order-user-info {
  display: flex;
  flex-direction: column;
  min-width: 0; /* para evitar desbordes */
  flex: 1;
  word-break: break-word;
}

.order-name {
  font-weight: 450;
  font-size: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.order-username {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
  word-break: break-word;
}

p {
  margin: 0; /*Arreglo necesario por cambio de la semántica*/
}

.order-location {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 1rem;
  color: var(--color-label);
  padding: 1rem 0 1rem 0; /*Cambie margin por padding*/
}

.order-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  padding: 0.6rem;
  border-radius: 0.5rem;
}

.order-location-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.order-location-info {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  white-space: normal;
}

.order-address {
  font-weight: 450;
  font-size: 1rem;
  white-space: normal;
  overflow-wrap: anywhere;
}

.order-payment {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.order-payment-info {
  align-self: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: clamp(0.1rem, 0.5rem, 0.5rem);
  row-gap: 1.5rem;
  align-items: stretch; /* fuerza que todas las cards midan igual */
}

.order-card {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px var(--shadow-light);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-text-light);
  font-size: 0.875rem;
  border: 0.05rem solid var(--color-border);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden; /* evita que se rompa layout */
}

.order-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*Retoques especificos para la página de pedidos:*/
.h2 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav a.activeOrders {
  color: var(--color-primary);
  padding-bottom: 0.25rem;
  font-weight: 700;
  text-decoration: underline;
}

nav a.disabledOrders {
  color: var(--color-secondary);
  padding-bottom: 0.25rem;
  font-weight: 400;
}

.orders {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  float: right;
  width: 100%;
  padding: 0 0 0.5rem 0;
  font-size: 0.875rem;
}

.order-avatar {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  object-fit: cover;
}

.order-user-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
}

.order-name {
  font-weight: 450;
  color: var(--color-dark);
  font-size: 1rem;
  word-break: break-word;
  white-space: normal;
}

.order-username {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.order-location {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 1rem;
  color: var(--color-label);
  padding: 1rem 0 1rem 0;
}

.order-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  padding: 0.6rem;
  border-radius: 0.5rem;
}

.order-location-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.order-location-info {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.order-address {
  font-weight: 450;
  color: var(--color-dark);
  font-size: 1rem;
  white-space: normal;
}

.no-orders-message {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4rem;
}

.no-orders-bottom-text {
  font-size: 1rem;
  padding-top: 0.5rem;
  color: var(--color-label);
}


@media screen and (max-width: 768px) and (min-width: 401px) {
  .order-card {
    max-width: 100%;
  }

  .orders {
    gap: clamp(0.5rem, 2vw, 1rem);
  }

  .orders a {
    font-size: clamp(0.5rem, 3vw, 1rem);
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    column-gap: clamp(0rem, 0.5rem, 0.5rem);
    row-gap: 1.5rem;
    align-items: stretch;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 0.5rem;
    padding-bottom: 3.5rem;
    box-sizing: border-box;
    width: 100%;
  }

  .orders {
    font-size: 0.7rem;
    justify-content: space-between;
    gap: clamp(0.2rem, 2vw, 0.75rem);
  }

  .orders a {
    font-size: clamp(0.5rem, 2vw, 0.75rem);
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 1.5rem;
    align-items: stretch;
  }
}
