.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  img {
    width: 300px;
    margin-bottom: 20px;
  }

  .error-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;

    .status {
      font-weight: bold;
      color: var(--error-color);
      font-size: 1.2em;
    }
  }
 
}