/* Estilos de las secciones */
.section-table {
    background-color: var(--color-section-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 1px 2px var(--color-section-shadow);
}

.section-table h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.title-buttons-flex {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding:0rem 0rem 1rem 0rem;
}

/* Estilos de los checkboxes */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-checkbox-label);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: solid var(--color-container);
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

input[type="checkbox"].switch {
    
}

/* Estilos de los botones */
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

