.subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container table td:last-child{
    width: 100%;
    text-align: right; 
    white-space: nowrap; 
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    /* padding: 0.75rem ; */
    border-radius: 0.5rem;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color : var(--color-border);
}

.footer{
    display: none;
} 

@media (max-width: 400px){
    .subheader{
        width: 20rem;
        flex-direction: column;
        align-items: start;    
    }

    .container{
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .container table{
        table-layout: fixed;
    }

    .container table td:last-child{
        text-align: right;
        white-space: nowrap;
        
    }

    .subtitle{
        width: 20rem;
    }


    .menu-item{
        justify-content: start;
        gap: 0.5rem;
        font-size: 0.875rem;
    }

    td {
        font-size: 0.875rem;
        overflow: hidden;
    }

    tbody {
        gap: 3rem;
        overflow: hidden;
    }

    table {
        border-spacing: 0 1rem;
    }

    .description{
        display: none;
    }

    .header{
        display: none;
    }

}

