  /* Estilos específicos para la página de login */

  /* Estilos del contenedor del formulario */
  body.auth-page {
    padding: 0;
  }

  .container-auto .form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* Estilos de la fila del encabezado (logo + título) */
  .container-auto .form-row {
    display: flex;
    width: auto;
    gap: 0.5rem;
    align-items: center;
  }

  /* Estilos de los grupos de etiquetas e inputs */
  .container-auto .form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  .container-auto .form-group label {
    padding-bottom: 0.5rem;
  }

  .container-auto .form-group input {
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  /* Modificador para el ancho del botón en el formulario */
  .save-button-wide {
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  /* Estilos del subtítulo de "Regístrate" */
  .container-auto .subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text-light);
    width: 100%;
    text-align: center;
  }

  .container-auto .subtitle a {
    color: var(--color-primary);
    text-decoration: none;
  }

  .input-eye {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .input-eye input {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;
  }

  .icon-eye {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    z-index: 2;
}

  .toggle-password {
    position: absolute;
    right: 0.5rem;
    background: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
  }

  .toggle-password img {
    width: 20px;
    height: 20px;
  }

  .ph-chef-hat {
    font-size: clamp(1rem, 2rem, 2.5rem);
  }

  @media (max-width: 400px) {
    .container {
      background: none;
      box-shadow: none;
      border: none;
    }
  }